.GameScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Board-ctrl {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
  padding: 20px;
}

button {
  background-color: green;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Instructions {
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
}